/*
    ---------------
    THEME GUIDLINES
    ---------------
    Primary Font - Josefin Sans
    Secondary Font - Prompt
    Main color for logo/text - #0084C6
    Secondary color for background - #E4EAF1
    Grey for boring stuff - #DDDDDD
*/

body {
    color: #0084C6;
    background-color: #E4EAF1;
    font-weight: bold;
    font-family: "Josefin Sans";
}

.searchbar-container {
    padding: 10px;
    border-radius: 12px;
}

.vertically-center-no-padding {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.searchbar-input-box-container {
    padding-left: 10px;
    padding-right: 7px;
    width: 1000px;
}