/*
    -----------------------------------------------------------------------
                                THEME GUIDLINES
    -----------------------------------------------------------------------
    Main font          | Josefin Sans | for most aesthetic things
    Data font          | Prompt       | for serious things
    Logo/text color    | #0084c6      | for logo/text
    BG color           | #e4eaf1      | for background
    Theme color 1      | #b7cbe2      | for contrasting background
    Theme color 2      | #cad8e7      | for contrasting background
    Theme color 3      | #dddddd      | for boring grey stuff
*/

body {
    color: #0084c6;
    background-color: #e4eaf1;
    font-weight: bold;
    font-family: "Josefin Sans";
}

.searchbar-col {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.searchbar-input-box-container {
    border-radius: 12px 0px 0px 12px;
    background-color: #b7cbe2;
    padding: 10px;
    width: 1000px;
}

.search-button {
    border-radius: 0px 12px 12px 0px;
    border-color: #cad8e7;
    border-width: 4px;
    padding: 11px 6px;
    background-color: #cad8e7;
}

.bi.search-icon {
    height: 38px;
    width: 38px;
    fill: #0084C6;
}