@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    -----------------------------------------------------------------------
                                THEME GUIDLINES
    -----------------------------------------------------------------------
    Main font                  | Josefin Sans | for most aesthetic things
    Data font                  | Prompt       | for serious things
    theme-logo-blue            | #0084c6      | for logo/text
    theme-bg-blue              | #e4eaf1      | for background
    theme-contrast-blue-dark   | #b7cbe2      | for contrasting background
    theme-contrast-blue-light  | #cad8e7      | for contrasting background
    theme-grey                 | #dddddd      | for boring grey stuff
    theme-grey-light           | #eeeeee      | for boring light grey stuff
*/

body {
    color: #0084c6;
    background-color: #e4eaf1;
    font-weight: bold;
    font-family: "Josefin Sans";
}