/*
    -----------------------------------------------------------------------
                                THEME GUIDLINES
    -----------------------------------------------------------------------
    Main font          | Josefin Sans | for most aesthetic things
    Data font          | Prompt       | for serious things
    Logo/text color    | #0084c6      | for logo/text
    BG color           | #e4eaf1      | for background
    Theme color 1      | #b7cbe2      | for contrasting background
    Theme color 2      | #cad8e7      | for contrasting background
    Theme color 3      | #dddddd      | for boring grey stuff
*/

.logo-container {
    text-align: center;
}

.logo-img {
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    height: 400px;
    width: 500px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    background-color: #cad8e7;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
    border-color: #555555;
    box-shadow: 5px 10px #555555;;
    left: calc((100% - 500px)/2);
}

.login-prompt-text {
    font-size: xx-large;
    margin-bottom: 0px;
}

.user-id-input {
    margin: 3px;
    width: 400px;
}

.password-input {
    margin: 3px;
    width: 400px;
}

.forgot-password {
    position: absolute;
    margin-top: 60px;
    left: calc((100% - 170px)/2);
}

.login {
    position: absolute;
    margin-top: 30px;
    height: 40px;
    width: 300px;
    left: calc((100% - 300px)/2);
    background-color: #0084c6;
}